ConnectionStrings__DefaultConnection=Host=localhost;Port=5433;Database=keypilot;Username=keypilot;Password=keypilot
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://localhost:8081
Clerk__Authority=https://social-grouper-19.clerk.accounts.dev
Clerk__Issuer=https://social-grouper-19.clerk.accounts.dev
Clerk__BackendApiUrl=https://api.clerk.com
Clerk__JwksUrl=https://social-grouper-19.clerk.accounts.dev/.well-known/jwks.json
# For multiline values in .env, use \n escapes if your loader supports it.
Clerk__PublicKey=-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA2yguBfyaU0xEH+PxGvk6\nRvamIQJmZBRmFELo6vyWiE7uFpcW8ZzU7sngemy7GGYV0IgUEWPFqFlye0Hv8Fpk\nxaI8gsuR9QermvEKFdmkDeuq/iYJZ54QjfbJ8qEWSQMLza1M3J2ry/MqPfq/xkkG\nupzu/mJ6tZF7EPlMdZX5r4tFixzuOE/haLb5BDPtgfI4f+x7RLYCjXbk34WUE5iN\n3r0EqmjtuOtogIqPHjHIYqlZ5MnXgXEq7uPhTuQNtmK21xTssfTbqY5fmLhxOAeR\nxuJPNCfBAq3LtrGEUTG6/PORQtvsxaPPCdYKi55o3igE98M6aJG4M3WEq7DiU4SG\n6QIDAQAB\n-----END PUBLIC KEY-----
Clerk__Audience=
